################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/my-first-azure-web-app/bin/
/my-first-azure-web-app/obj/
